body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border: 2px dodgerblue solid;
  background-color: rgb(30,40,50);
  color: rgb(240, 240, 240)
}

button{
  border: 1px olive solid;
  background-color: rgb(30,40,50);
  color: rgb(240, 240, 240);
  margin-left: 1rem;
  cursor: pointer;
}

a{
  color: rgb(200, 200, 200)
}

li{
  padding: .2rem;
  list-style-type:circle;
}

li.selected{
  font-weight: bold;
  font-style: italic;
}
pre{
  color: rgb(200, 200, 200)
}