body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border: 2px dodgerblue solid;
  background-color: rgb(30,40,50);
  color: rgb(240, 240, 240)
}

a{
  color: rgb(200, 200, 200)
}

li.selected{
  font-weight: bold;
  font-style: italic;
}
pre{
  color: rgb(200, 200, 200)
}